<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if !!current_user %>
      <%= current_user.username %>
      <%= button_to 'Log Out', session_url, method: :delete %>
    <% end  %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
